{% extends 'baseback.html.twig' %}

{% block title %}Consultation index{% endblock %}

{% block body %}
    <h1>Consultation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Traitement</th>
                <th>NumSeance</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for consultation in consultations %}
            <tr>
                <td>{{ consultation.id }}</td>
                <td>{{ consultation.traitement }}</td>
                <td>{{ consultation.numSeance }}</td>
                <td>{{ consultation.description }}</td>
                <td>
                    <a href="{{ path('app_consultation_back_show', {'id': consultation.id}) }}">show</a>
                    <a href="{{ path('app_consultation_back_edit', {'id': consultation.id}) }}">edit</a>
                     <a href="{{ path('app_pdf_consultation_back_show', {'id': consultation.id}) }}">pdf</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_consultation_back_new') }}">Create new</a>
{% endblock %}