{% extends 'base.html.twig' %}

{% block title %}Consultation index{% endblock %}

{% block body %}
    <h1>Consultation index</h1>
     <input type="text" class="form-control" id="searchInput" placeholder="Search&hellip;">

<script>
        function filterTable() {
            const filter = document.getElementById('searchInput').value.toUpperCase();
            const rows = document.querySelectorAll('table tr');
            for (let i = 1; i < rows.length; i++) {
                const cols = rows[i].querySelectorAll('td');
                let visible = false;
                for (let j = 0; j < cols.length; j++) {
                    const cell = cols[j];
                    if (cell.innerText.toUpperCase().indexOf(filter) > -1) {
                        visible = true;
                        break;
                    }
                }
                rows[i].style.display = visible ? '' : 'none';
            }
        }
        document.getElementById('searchInput').addEventListener('keyup', filterTable);
    </script>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Traitement</th>
                <th>NumSeance</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        <center>{{ include ('consultation/searchconsultation.html.twig') }} </center>

        {% for consultation in consultations %}
            <tr>
                <td>{{ consultation.id }}</td>
                <td>{{ consultation.traitement }}</td>
                <td>{{ consultation.numSeance }}</td>
                <td>{{ consultation.description }}</td>

                <td>
                    <a href="{{ path('app_consultation_show', {'id': consultation.id}) }}">show</a>
                    <a href="{{ path('app_consultation_edit', {'id': consultation.id}) }}">edit</a>
                    <a href="{{ path('app_qr_codes', {'id': consultation.id}) }}" class="btn btn-sm">QrCode</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_consultation_new') }}">Create new</a>
{% endblock %}
