{% extends 'base.html.twig' %}

{% block title %}Consultation{% endblock %}

{% block body %}
    <h1>Consultation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consultation.id }}</td>
            </tr>
            <tr>
                <th>Traitement</th>
                <td>{{ consultation.traitement }}</td>
            </tr>
            <tr>
                <th>NumSeance</th>
                <td>{{ consultation.numSeance }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ consultation.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_consultation_index') }}">back to list</a>

    <a href="{{ path('app_consultation_edit', {'id': consultation.id}) }}">edit</a>

    {{ include('consultation/_delete_form.html.twig') }}
{% endblock %}
