{% extends 'base.html.twig' %}

{% block title %}ProductCategory index{% endblock %}

{% block body %}
    <h1>ProductCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product_category in product_categories %}
            <tr>
                <td>{{ product_category.id }}</td>
                <td>{{ product_category.titre }}</td>
                <td>{{ product_category.description }}</td>
                <td>
                    <a href="{{ path('app_product_category_show', {'id': product_category.id}) }}">show</a>
                    <a href="{{ path('app_product_category_edit', {'id': product_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_category_new') }}">Create new</a>
{% endblock %}
