<div class="sidebar-search">

	<div class="input-group custom-search-form">

		<input type="text" id="search" class="form-control" placeholder="Rechercher event">
	</div>
</div>

{% for evennement in evennements %}


	<div>


		<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
			<div
				class="icon-box">


				<!-- Product image-->
				<img
				class="card-img-top" src="{{asset('assets/img/' ~ evennement.eventimg)}}" alt="..." width=" 350" height=" 300"/>
				<!-- Product details-->

				<div
					class="text-center">
					<!-- Product name-->
					<h5 class="fw-bolder">
						nom Event:
						{{ evennement.titre }}</h5>
					<h6 class="fw-bolder">decription:
						{{ evennement.description}}</h6>
					<h6>{{ evennement.dateDebut ? evennement.dateDebut|date('Y-m-d H:i:s') : '' }}</h6>
					<h6>{{ evennement.dateFin ? evennement.dateFin|date('Y-m-d H:i:s') : '' }}</h6>
					<h6>{{ evennement.zone }}</h6>
					<h6>{{ evennement.nbrPasse }}</h6>
					<h6>{{ evennement.prix }}</h6>

					<div style="padding:20px 20px 20px 20px">
						<a href="{{ path('app_evennement_front_show', {'id': evennement.id}) }}" style="color: #295C6E; border-radius: 5px; border: 1px solid #222875;  padding: 5px 10px; background-color: #D6D6D6;">Show Details</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% else %}
	<div class="col-12">
		<div class="alert alert-warning">No records found</div>
	</div>
{% endfor %}


{% block javascripts %}
	<script src="{{asset('assets/js/search.js')}}"></script>
{% endblock %}