{% extends 'base.html.twig' %}

{% block title %}Evennement{% endblock %}

{% block body %}
    <h1>Evennement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evennement.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ evennement.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evennement.description }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ evennement.dateDebut ? evennement.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ evennement.dateFin ? evennement.dateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Zone</th>
                <td>{{ evennement.zone }}</td>
            </tr>
            <tr>
                <th>Eventimg</th>
                <td>{{ evennement.eventimg }}</td>
            </tr>
            <tr>
                <th>NbrPasse</th>
                <td>{{ evennement.nbrPasse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_evennement_index') }}">back to list</a>

    <a href="{{ path('app_evennement_edit', {'id': evennement.id}) }}">edit</a>

    {{ include('evennement/_delete_form.html.twig') }}
{% endblock %}
