{% extends 'base.html.twig' %}

{% block title %}Plat{% endblock %}

{% block body %}
    <h1>Plat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plat.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ plat.titre }}</td>
            </tr>
            <tr>
                <th>Caloris</th>
                <td>{{ plat.caloris }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_plat_index') }}">back to list</a>

    <a href="{{ path('app_plat_edit', {'id': plat.id}) }}">edit</a>

    {{ include('plat/_delete_form.html.twig') }}
{% endblock %}
